body {
	font-family: 'Arial', sans-serif;
	text-align: center;
	background-color: #202020;
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

h1 {
	color: grey;
}

h2 {
	color: #7d7d7d9f;
}

p {
	color: #8b8b8b;
}